body {
   background: #fafafa;
   padding: 0;
   margin: 0;
}
a {text-decoration: none;}

header {}
nav {
   background: seagreen;;
   padding-bottom: 7px;
   padding-top: 0.02px;
}
nav ul li {
   display: inline;
   margin-right: 30px;
}
nav ul li a {
   color: whitesmoke;
   /* text-decoration: none; */
   }
nav ul li img {
   margin-bottom: -13px;
   background: ;
}

main {
   font-family: fantasy;
   text-align: center;
   position: absolute;
   top: 23em;
   left: 50%;
   transform: translateX(-50%);
}
#main-picture {
   height: 50em;
   opacity:0.5;
}

section {
   background: #fafafa;
   display: flex;
   align-items: center;
   margin-top: 3em;
}
section div {
   flex: 1;
   padding: 30px;
   text-align: center;
}
section p {font-size: 20px}
section p a {
   text-decoration: none;
   color: darkblue;
}
section p a span {font-size:40px}
section img {
   flex: 1;
   border-radius: 10px;
}
#h1 {
   text-align: center;
   margin-top: 3em;
}
#section3 {margin-top: 20px;}
#section3 div {
   flex: 1;
   background: #fafafa;
   margin: 30px;
   padding: 0;
   border: 3px solid gray;
   border-radius: 15px;
   align-self: stretch;
}
#section3 div p {padding: 0 30px; color: black; text-shadow: 5;}
#section3 div img.image {
   width: 100%;
   height: 50%;
}

footer {
   background: seagreen;
   color: whitesmoke;
   padding: 4px;
   text-align: center;
}
