body {
   margin: 0;
   padding: 0;
   font-family: Arial;
}
.container {
   width: 90%;
   overflow: hidden;
   margin: auto;
}

/* INDEX.HTML */
header {
   background: beige;
   padding: 10px 0;
   margin-bottom: 15px;
}
header h1 {
   text-align: center;
   margin: 0;
}
h2 {
   margin: 20px;
   padding: 5px 10px;
   background: lightgreen;
}
.test-list .title {
   font-size: 20px;
   font-weight: bold;
}
.test-list > li {
   margin: 10px;
   border: 1px solid lightgray;
   border-radius: 5px;
   padding: 10px;
   margin-right: 20px;
}
.inner-list li {
   margin-left:0;
   list-style-type: disc;
}
a {
   text-decoration: none;
   cursor: pointer;
   color: black;
}
img{
   vertical-align: middle;
   margin: 5px;
}


/* MAIN - TESTS*/
main {
   background: azure;
   padding: 0 15px;
   border: 1px solid darkblue;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   position: relative;
   }
#questionBlock {margin: 14px 0;}
#question {
   font-weight: bold;
   font-size: 23px;
   line-height: 30px;
}
#questionBlock code {
   font-size: 17px;
   font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace; /*"Lucida Console", "Courier New", monospace;*/
   font-weight: normal;
   background: white; /*GhostWhite;*/ /*rgb(10,10,70)*/
   color: brown; /*whitesmoke*/
   border: 1px solid Gainsboro;
   border-radius: 5px;
   padding: 10px;
   margin-top: 7px;
   display: block;
   line-height: 30px;
   }
#questionBlock samp {
   font-size: 17px;
   font-family: "Lucida Console", "Courier New", monospace;
   margin-left: 20px;
   }
#twoOptions {display: none;}
.option {
   font-size: 19px;
   margin: 19px 0;
   padding: 9px 0;
}
.bullet {
   border: 3px solid gray;
   border-radius: 50%;
   padding: 7px 12px;
   margin-right: 5px;
}
.optionContent {line-height: 30px;}
#explanation {
   font-size: 19px;
   color: green;
   position: absolute;
   bottom: -10px;
   align-self: center;
   }
#buttons {
   display: flex;
   justify-content: space-around;
   margin-top: 20px;
   margin-bottom: 20px;
}
button {
   background: seagreen;
   color: #fafafa;
   border-radius: 5px;
   padding: 0 24px;
   font-size: 19px;
   font-weight: bold;
}
#reset {padding-bottom: 5px;}
#reset span {
   font-size: 24px;
   font-weight: bold;
}


/* DATATYPES.HTM - EXAMPLES */
section {margin: 20px;}
.example {border: 1px solid gray; border-radius:5px; padding: 10px; margin-top: 15px; background: #fafafa}
section p {font-size: 19px; padding: 5px; text-indent: 5px;}
section button {padding: 4px 9px; background: lightgreen; font-size: 15px; color: black;}
pre {
   background: rgb(10,0,50);
   line-height: 25px;
   padding-top: 30px;
   border: 1px solid blue;
   border-radius: 5px;
   overflow: scroll;
   color: whitesmoke;
   font-family: verdana;
   margin: 20px;
   display: none;
}
pre div {
   background:black;
   margin: 0 45px;
   padding: 0;
   border: 1px solid lightyellow;
   border-radius: 5px;
}
pre div code {
   margin: 0;
   padding: -1em;
   font-size: 15px;
}

var {color: rgb(204, 204, 255);}
em, em span, em var {color: darkcyan !important;}
.datatype, .datatype span {color: LightSalmon;} /* text-transform: capitalize; */
.string, .string span {color: pink !important;}
.loop {color: #DE3163;}
.key {color: #9FE2BF;}
.number {color: #FFBF00;}
.punctuation {color: skyblue;}
