body {
   margin: 0;
   padding: 0;
   font-family: Arial;
}
.container {
   width: 90%;
   overflow: hidden;
   margin: auto;
}

/* INDEX.HTML */
header {
   background: beige;
   padding: 10px 0;
   margin-bottom: 15px;
}
header h1 {
   text-align: center;
   margin: 0;
}
h2 {
   margin: 20px;
   padding: 5px 10px;
   background: lightgreen;
}
.test-list .title {
   font-size: 20px;
   font-weight: bold;
}
.test-list li {
   margin: 10px;
}


/* MAIN */
main {
   background: azure;
   height: ;
   padding: 0 15px;
   border: 1px solid darkblue;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   position: relative;
   }
#questionBlock {margin: 14px 0;}
#question {
   font-weight: bold;
   font-size: 23px;
}
#questionBlock code {
   font-size: 17px;
   font-family: "Lucida Console", "Courier New", monospace;
   font-weight: ;
   background: rgb(10,10,70); /*GhostWhite;*/
   color: whitesmoke;
   border: 1px solid Gainsboro;
   border-radius: 3px;
   padding: 10px;
   margin-top: 7px;
   display: block;
   }
#questionBlock samp {
   font-size: 17px;
   font-family: "Lucida Console", "Courier New", monospace;
   margin-left: 20px;
   }
#twoOptions {display: none;}
.option {
   font-size: 19px;
   margin: 19px 0;
   padding: 9px 0;
}
.bullet {
   border: 3px solid gray;
   border-radius: 50%;
   padding: 7px 12px;
   margin-right: 5px;
}
.optionContent {line-height: 30px;}
#explanation {
   font-size: 19px;
   color: green;
   position: absolute;
   bottom: -15px;
   align-self: center;
   }
#buttons {
   display: flex;
   justify-content: space-around;
   margin-top: 15px;
   margin-bottom: 15px;
}
button {
   background: seagreen;
   color: #fafafa;
   border-radius: 5px;
   padding: 0 24px;
   font-size: 19px;
   font-weight: bold;
}
#reset {padding-bottom: 5px;}
#reset span {
   font-size: 24px;
   font-weight: bold;
}


/* DATATYPES.HTM */
section {margin: 20px;}
section p {font-size: 19px; background: #fafafa; padding: 5px;}
section button {padding: 5px 10px; background: lightgreen;}
pre {
   background: rgb(10,0,50);
   line-height: 30px;
   padding-top: 30px;
   border: 1px solid blue;
   border-radius: 5px;
   overflow: scroll;
   color: whitesmoke;
   font-family: verdana;
   margin: 20px;
   display: none;
}
var {color: rgb(204, 204, 255); font-style: ;}
em, em span {color: darkcyan !important;}
.datatype, .datatype span {color: LightSalmon; text-transform: capitalize;}
.string, .string span {color: pink;}
.loop {color: #DE3163;}
.key {color: #9FE2BF;}
.number {color: #FFBF00;}
.punctuation {color: skyblue;}
